[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
Scrapy = "*"
automat = "22.10.0"
hyperlink = "21.0.0"
requests-file = "2.1.0"


[requires]
python_version = "3.11"
python_full_version = "3.11.0"
