[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "1.30.5"
tenacity = "8.3.0"
streamlit = "1.39.0"
pytz = "2024.1"
python-dotenv= "1.0.1"
httpx-oauth = "v0.15.0"
httpx = "0.27.2"

[dev-packages]
Scrapy = "*"
automat = "22.10.0"
hyperlink = "21.0.0"
requests-file = "2.1.0"
jsonschema = "4.23.0"


[requires]
python_version = "3.11"
python_full_version = "3.11.0"
