[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "1.57.0"
tenacity = "8.3.0"
streamlit = "1.39.0"
pytz = "2024.1"
python-dotenv= "1.0.1"
httpx-oauth = "v0.15.0"
httpx = "<0.28"

# convert to Pipfile %pip install -qq "arize-phoenix==6.1.0" "llama-index-llms-openai==0.2.2" "openai===1.57.0" gcsfs==2024.10.0 nest_asyncio==1.6.0 langchain==0.3.10 langchain-openai==0.2.11 openinference-instrumentation-langchain==0.1.29 'httpx<0.28'



[eval]
arize-phoenix-evals = "=0.17.5"
arize-phoenix = "==6.0.0"
llama-index-llms-openai = "==0.2.2"
gcsfs = "==2024.10.0"
nest_asyncio = "==1.6.0"
langchain = "==0.3.10"
langchain-openai = "==0.2.11"
openinference-instrumentation-langchain = "==0.1.29"

[dev-packages]
Scrapy = "*"
automat = "22.10.0"
hyperlink = "21.0.0"
requests-file = "2.1.0"
jsonschema = "4.23.0"


[requires]
python_version = "3.11"
python_full_version = "3.11.0"
